.container{
    display: inline-block;
    background-color: pink;
    justify-items: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    
}
.Name{
    display: flex;
    flex: auto ;
    color: brown;
    background-color: black;
    padding: 9px;
    border-radius: 7px;
    justify-content: center;
    align-content: center;
}

.deets{
    display: flex;
}

